@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<br/>
<p><i>Tennis Enthusiasts is a community of Tennis lovers who can read, write blogs and share information between each other.</i></p>
<p>The History of tennis game was developed from a  12th century French handball game called "Paume" (palm). In this game the ball was struck with the hand. After some time "Paume" game produced handball "Jeu de Paume" (game of the palm) and there were used racquets. The game was first created by European monks for entertainment roles during ceremonial occasions. At first, the ball was hit with hands. Later, the leather glove came into existence. This leather glove was replaced with an adaptive handle for effective hitting and serving of the ball. That was a birth of tennis racquet. </p>
<p>Development of tennis racquet , tennis balls also underwent  frequent modifications. First tennis ball was from wood. Later in the history of tennis ball was filled with cellulose material to gave way to a bouncier. Monks from all areas of Europe favored "Jeu de Paume" game during 14th century much to the chagrin of the mother Church. The game spread and evolved in Europe.</p>

<p>The game became very popular, especially in France, where was adopted by the royal family. In the year of 1316 French king Louis X dies after hard  "Jeu de Paume" game (other terms of  this stage of game are Royal Tennis in Great Britain, Royal Tennis in Australia, Court Tennis in the United States), but this death does null to damp the popularity of the recreation.</p>

<p>
    <b>21st Century - A New Open Era of Tennis History</b>
    <br /><br />
    2001 ▪ TENNIS HISTORY OF GORAN IVANISEVIC ▪ In Wimbledon Championships tennis history Goran Ivanisevic of Croatia became the first Wimbledon wildcard in history of tennis to win the Mens Singles title.
    <br /><br />
    2002 ▪ VENUS & SERENA WILIAMS ▪ Venus and Serena Williams become the first sisters in tennis history to be ranked #1 and #2 in the WTA world rankings list.
    <br /><br />
    2003 ▪ PETE SAMPRAS ▪ Pete Sampras retires from tennis at a US Open farewell ceremony. He won 64 singles titles (4th highest ever) including a record 14 Grand Slam titles - 2 AO, 5 US Open and 7 Wimbledon.
    <br /><br />
    2004 ▪ YEAR OF ROGER FEDERER IN TENNIS HISTORY ▪ Roger Federer becomes the first man in tennis history since Mats Wilander in 1988 to win three of the four grand slam events (Australian Open, Wimbledon and the U.S. Open) in a calendar year. He also captured an ATP-best 11 titles in as many finals, including the end-of-season Masters Cup. And also set an Open Era record by winning 13 consecutive finals (dating back to 2003), surpassing Bjorn Borg and John McEnroe who won 12 straight finals.
    <br /><br />
    2005 ▪ NEW DOUBLES TIE BREAK SCORING SYSTEM ▪ The ATP (having dropped the word ‘Tour’ from its name in 2000) introduces a different scoring system for doubles matches, with sudden death points at deuce (‘no advantage’) and a first-to-ten-points tiebreak in place of a final set. Roger Federer's 25-match winning streak (the longest in men's tennis since 1984) ended at the hands of 18-year-old Richard Gasquet in Monte Carlo. Another great moment in tennis history.
    <br /><br />
    2006 ▪ ANDRE AGASSI RETIRES ▪ The greatest showman in tennis history - Andre Agassi - retires on 3 September 2006 following a 7-5 6-7(4) 6-4 7-5 defeat to Benjamin Becker (GER) in the third round of the US Open.The right for players to challenge dubious line calls by electronic review is introduced in the Miami Masters Series tournament and makes its Grand Slam debut at the US Open later that year.
    <br /><br />
    2007 ▪ TENNIS HISTORY OF RAFAEL NADAL ▪ On the 19 May, Rafael Nadal claims 81 straight wins on clay to set a new all surface record. His run was ended by Roger Federer in the Hamburg Masters final the following day. On the 9 September, Roger Federer became the first man in tennis history since Bill Tilden in the 1920s to win 4 US Open titles in a row, beating Novak Djokovic in the final.
    <br /><br />
    2009 ▪ ROGER FEDERER ▪ On 7 June, Roger Federer became arguably the greatest tennis player of all time in tennis history with his victory at the French Open. Federer joins Fred Perry, Don Budge, Rod Laver, Roy Emerson and Andre Agassi as winner of all four Grand Slam titles, and equals the 14 Grand Slam titles claimed by Pete Sampras - who never managed to win on the clay of Roland Garros. On 20 April, Marat Safin and Dinara Safina became the first brother and sister to reach world number one in tennis history. Marat became achieved the top ranking on 20 November 2000. Roger Federer secure No. 1 postion on the end of seson with victory over Andy Murray in three sets at London ATP Finals on 25 November. Winning a championship takes years of hard work, quick reflexes and amazing senses. Without great eyesight your chances of winning a match would be low. Visiting Austin Lasik could help you with your vision problems.
</p>