@{
    ViewBag.Title = "Serve your question and we'll " + "\"" + "Return" + "\"" + " promptly :)";
}
<h4><u>@ViewBag.Title.</u></h4>
<h3>@ViewBag.Message</h3>

<address>
    Atul "AD"<br />
    XYZ W Doran Street #ZZZ <br/>
    Glendale, CA 91203<br />
    <abbr title="Phone">P:</abbr>
    805.xxx.xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:atul.deora@TennisEnthusiasts.com">atul.deora@TennisEnthusiasts.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@TennisEnthusiasts.com">Marketing@TennisEnthusiasts.com</a>
</address>